@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;800&family=Vollkorn&display=swap');

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: 'Karla', sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background-color: #c8c8c8;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 120px;
    font-weight: initial;
}

h2 {
    font-size: 48px;
    font-weight: initial;
}

h3 {
    font-size: 36px;
    font-weight: initial;
}

button {
    
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.material-icons.md-36:hover {
    cursor: pointer;
    transition: font-size 0.1s ease-out;
    
    font-size: 48px;
}

.material-icons.md-36:active {
    
    transition: font-size 0.1s ease-out;
    font-size: 36px;
}

.material-icons.md-72:hover {
    cursor: pointer;
    transition: font-size 0.1s ease-out;
    
    font-size: 84px;
}

.material-icons.md-72:active {
    
    transition: font-size 0.1s ease-out;
    font-size: 72px;
}

/*styling for the black loading screen*/
.preload {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    
    background-color: black;

    transition-duration: 0.5s;
}

.preload.hidden {
    opacity: 0;
    pointer-events: none;
}

.head {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 2;
}

.headbg{
    width: 100vw;
    height: 100px;
    display: flex;
    
    background: #B0A164;
    position: fixed;
    z-index: 1;
}

.nav-btn {
    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button {
    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.web-name {
    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.scrollindicators {
    
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 24px
}

.circle2 {
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 24px
}

.circle3 {
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 24px
}

.circle4 {
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 24px
}

.circle5 {
    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 24px
}

.circleactive {
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    margin: 24px
}

.up-button {
    width: 108px;
    height: 108px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 100px;
    right: 50%;
    transform: translateX(50%);

    pointer-events: auto;

    transition: opacity 0.1s ease-out;
}

.up-button.hidden {
    transition: opacity 0.1s ease-out;
    opacity: 0;
    pointer-events: none;
}

.down-button {
    width: 108px;
    height: 108px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);

    pointer-events: auto;

    transition: opacity 0.1s ease-out;
}

.down-button.hidden {
    transition: opacity 0.1s ease-out;
    opacity: 0;
    pointer-events: none;
}

.sidebar {
    z-index: 1;
    
    display: flex;
    position: fixed;
    
    width: 300px;
    height: 100vh;
    
    transform: translateX(-300px);

    justify-content: left;
    align-content: center;

    background-color: #9B7900;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-2vh);
    
    align-items: left;

    padding-left: 48px;
}

.sidebar li {
    list-style-type: none;

    padding-top: 4vh;

    font-size: 24px;
    font-weight: 400;
}

.sidebar li#sub {
    list-style-type: none;

    padding-top: 2vh;

    font-size: 16px;
    font-weight: 300;
}

.home-elements {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;

    pointer-events: none;
}

.main-content {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flexbox;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    padding-left: 128px;
    padding-right: 128px;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    padding-left: 128px;
    padding-right: 128px;
}

#m1.content {
    background-color: rgb(53, 53, 53);
}

#m2.content{
    
}

#m3.content{
    background-color: rgb(175, 67, 67);
}

#m4.content{
    
}

.footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background-color: #111111;

    padding-left: 128px;
    padding-right: 128px;
    
    font-weight: 300;
    line-height: 24px;
}